@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Crete Round', serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
}

form > button {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  background: #ff6b00;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  gap: 10px;
  width: 156px;
  height: 48px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #fff5e1;
  color: #f55800;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  list-style-type: none;
  color: #fff;
  cursor: pointer;
}

li {
  list-style: none;
}

i {
  color: #fff;
  font-size: 25px;
  cursor: pointer;
}

.header {
  height: 72px;
  background-color: #3c3a39;
  padding: 15px;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 999;
  top: 0;
}

nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.brand {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.home {
  background: url(assest/background/illustration-header-mobile.png) no-repeat;
  background-color: #1c1a19;
  height: 100vh;
  background-position: right bottom;
  flex-direction: column;
}

.cont-parent {
  flex-direction: column;
  margin-bottom: 80px;
}

.content {
  flex-direction: column;
  align-items: flex-start;
  padding: 15px;
}

.content > h1 {
  font-family: 'Crete Round', sans-serif;
  font-size: 56px;
  line-height: 64px;
  font-weight: 400;
  font-style: normal;
  color: #ff6b00;
}

.content > h3 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  color: #fff5e1;
  font-size: 24px;
}

.content > p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  max-width: 327px;
}

.socialmedia > ul > li {
  text-decoration: none;
  list-style: none;
}

.socialmedia > ul {
  gap: 12px;
  display: flex;
}

.socialmedia {
  width: 100%;
  justify-content: flex-start;
  padding: 0 15px;
}

.parent {
  flex-direction: column;
  margin-top: 5%;
}

.parent > h2 {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #1c1a19;
}

footer > hr {
  color: #dfe1e6;
  height: 1px;
}

.parent > hr {
  width: 55%;
  border: 1px solid #212121;
  margin-top: 8%;
}

.tag-cont {
  margin-top: 11%;
  flex-direction: column;
  align-items: flex-start;
  padding: o 24px;
  gap: 24px;
}

.tag-cont > h3 {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #091e42;
}

.tag-cont > p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
  max-width: 327px;
}

.tags > ul {
  gap: 12px;
}

.tags > ul > li {
  padding: 10px 12px;
  background: #fff;
  border: 1px solid #8993a4;
}

.tags > button {
  padding: 12px;
  margin-top: 5%;
  color: #fff;
  width: 124px;
  height: 48px;
  background-color: #ff6b00;
  border: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  cursor: pointer;
}

.tag-par > button {
  height: 48px;
  width: 327px;
  position: absolute;
  padding: 10px;
  background-color: #ff6b00;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  border: none;
  margin-left: -13px;
  margin-top: 40px;
  cursor: pointer;
}

.about-par > button {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  background: #ff6b00;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 156px;
  height: 48px;
  border: none;
  cursor: pointer;
}

.tags > button:hover {
  background-color: #fff5e1;
  color: #f55800;
}

.tag-grid {
  display: grid;
  grid-template-columns: auto;
  align-items: center;
  margin-top: 24px;
  gap: 24px;
}

.tag {
  flex-direction: column;
}

.tag > img {
  position: relative;
  width: 327px;
  height: 386px;
}

.tag-par {
  position: absolute;
  flex-direction: column;
  padding: 8px 16px;
  gap: 12px;
}

.tag-par > h4 {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  max-width: 220px;
}

.tag-par > p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #fff;
  width: 300px;
}

.tag-par > ul {
  gap: 12px;
  margin-top: 10px;
  align-items: flex-start;
  width: fit-content;
}

.tag-par > ul > li {
  padding: 10px 12px;
  color: #fff;
  border: 1px solid #8993a4;
  background-color: rgba(255, 255, 255, 0.24);
  align-items: center;
}

.tag-par > button:hover {
  background-color: #fff5e1;
  color: #f55800;
}

.about-cont {
  margin-top: 20%;
  flex-direction: column;
  height: 100vh;
  background: url(assest/recent-works/bottom\ vector.png) no-repeat right 425px #1c1a19;
}

.about-pag > hr {
  width: 100%;
  border: 1px solid #fff;
}

.about-par {
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  margin-bottom: 60px;
}

.about-par > h2 {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  width: 327px;
  color: #ff6b00;
}

.about-par > p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  width: 327px;
  height: 148px;
  color: #f4f5f7;
}

.about-par > button:hover {
  background-color: #fff5e1;
  color: #f55800;
}

.about-pag {
  background: #1c1a19;
  flex-direction: column;
  padding: 15%;
  gap: 24px;
  margin-top: -60px;
}

.list {
  flex-direction: column;
  gap: 24px;
  margin-top: 20%;
}

.list > ul {
  gap: 24px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.list > ul > li {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  color: #fff;
}

.line {
  gap: 10px;
}

.line > h4 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

.touch {
  flex-direction: column;
  margin-top: 70px;
  text-align: center;
  gap: 24px;
}

.touch > p {
  max-width: 327px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

form {
  gap: 24px;
  flex-direction: column;
}

form > input {
  width: 327px;
  height: 48px;
  padding: 5%;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  border: none;
  border-bottom: 1px solid #dbd8d7;
}

form > textarea {
  width: 327px;
  height: 114px;
  padding: 5%;
  border: none;
  font-family: 'Inter', sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  background-color: #fbf8f7;
  color: #3c3a39;
}

footer {
  margin-top: 70px;
}

.foot {
  height: 72px;
}

.foot > ul {
  display: flex;
  gap: 24px;
}

.hr-1 {
  width: 134px;
  border-radius: 10px;
  background-color: #0d151e;
  height: 5px;
  margin-left: 120px;
  margin-bottom: 5%;
}
